.class {
    width: 100px;
    height: 200px
}
.typephoto {
    width: 100px;
    height: 200px
}
.typescontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between
   
}

body {
    background-color: lightcoral
}
/* header {
    height: 60px;
    background-color: black;
    font-size: 20px
} */

.card {
   
   margin-bottom: 20px;
   margin-left: 20px;
   margin-top: 20px;
    width: 280px;
  
}
/* .all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
} */
/* .body {
    
        border: darkslategray 3px solid;
        width: 100vw;
        height: 93.5vh;
        margin-left: 0;
      } */
.firstpart {
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
}
.watchcomponent {
    border-top-color: darkslategray 3px solid;
    background-color: black
  }
  .oneitem {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      margin-top: 10px;
      margin-left: 20px;
      margin-bottom: 20px;
      width: 260px
  }
  .typeslist {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  }
  .movieslist {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .movcont {
      display: flex;
      flex-wrap: row;
      justify-content:flex-start;
      margin-left: 30px;
      margin-right: 20px;
      margin-bottom: 20px;
      width: 240px;
     
  }
  .typemovie {
      display: flex;
      flex-direction: column;

  }
  .singletype {
      margin-bottom: 20px;
      width: 360px;
      /* display: flex;
      align-content: center;
      justify-content: center;
      justify-items: center;
      align-items: center; */
    margin-left: 80px;
      margin-top: 20px
  }
  .moviebutton {
      display: flex;
      align-content: center;
      margin-left: 80px;
    
  }
  .newmoviebutton {
      margin-left: 230px;
      margin-bottom: 30px
  }
  .singlemovie {
      margin-top: 20px;
      margin-bottom: 30px;
     width: 280px
  }
  .back {
      background-color: brown
  }
  .backgrdns {
      background-color: brown
  }
  .typesbutton {
      margin-left: 250px
  }
  .singlemoviecont {
      height: 300px
  }
  .newtypebutton {
      margin-left: 140px;
      margin-bottom: 20px
  }
  .update {
      margin-bottom: 20px;
      margin-left: 140px
  }
  h2 {
      display: flex;
      align-content: center;
      justify-content: center
  }
  .watchlist {
      display: flex;
      flex-wrap: wrap;
      align-content: center
  }