.class {
    width: 100px;
    height: 200px
}
.typephoto {
    width: 100px;
    height: 200px
}
.typescontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between
   
}

body {
    background-color: burlywood
}
header {
    height: 60px;
    background-color: brown;
    font-size: 20px
}

.card {
    border: 3px solid black;
   margin-bottom: 20px;
   margin-left: 20px;
   margin-top: 20px;
    width: 200px;
  
}
/* .all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
} */
/* .body {
    
        border: darkslategray 3px solid;
        width: 100vw;
        height: 93.5vh;
        margin-left: 0;
      } */
.firstpart {
    background-color: dimgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
}
.watchcomponent {
    border-left: darkslategray 3px solid;
    background-color: burlywood
  }
  .contitem {
      display: flex;
      flex-wrap: wrap;
      align-content: center
  }
  .typeslist {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  }
  .movieslist {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .movcont {
      display: flex;
      flex-wrap: wrap;
      justify-content:flex-start;
      margin-left: 10px;
      margin-right: 20px;
      margin-bottom: 20px;
      width: 250px;
      border: 5px solid teal
  }
  .typemovie {
      display: flex;
      flex-direction: column;

  }
  .singletype {
      margin-bottom: 20px;
      width: 400px;
      display: flex;
      align-content: center;
      justify-content: center;
      justify-items: center;
      align-items: center;
      margin-left: 100px;
      margin-top: 20px
  }